@{
    ViewData["Title"] = "SwiF";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<br />
<h2>@ViewData["Socios"]</h2>
<p>Your Software in the Future.</p>
<p>@ViewData["Developer1"]</p>

<address>
    <p>Email: thiago.henrique@swif.com.br</p>
    <strong>More information: </strong> <a href="swif.com.br">SwiF Techology Agency</a>
</address>
<br />
<p>@ViewData["Developer2"]</p>

<address>
    <p>Email: nicolas.jeronimo@swif.com.br</p>
    <strong>More information: </strong> <a href="swif.com.br">SwiF Techology Agency</a>
</address>
<br />
<p>@ViewData["Developer3"]</p>

<address>
    <p>Email: guilherme.franca@swif.com.br</p>
    <strong>More information: </strong> <a href="swif.com.br">SwiF Techology Agency</a>
</address>
<br />
<p>@ViewData["Developer4"]</p>

<address>
    <p>Email: richard.franca@swif.com.br</p>
    <strong>More information: </strong> <a href="swif.com.br">SwiF Techology Agency</a>
</address>
<br />

<img src= "C:\Users\PC\Downloads\Socios.jpg"/>
